.modal-overlay {
  position: fixed;
  top: 0;

  width: 100vw;
  height: 100vh;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity $transition-time $transition-func,
    visibility $transition-time $transition-func;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  min-height: 581px;
  padding: 40px;

  background: $primary-bg-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%);
  transition: transform $transition-time $transition-func;

  .modal-overlay.is-hidden & {
    transform: translate(-50%, -50%) scale(0.5);
  }
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  background-color: $primary-bg-color;

  cursor: pointer;

  transition: color $transition-time $transition-func;

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.icon-close-modal {
  fill: currentColor;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

.modal-label {
  position: relative;

  display: flex;
  flex-direction: column;
  width: 100%;

  &:not(:nth-child(4)) {
    margin-bottom: 10px;
  }
}

.modal-form {
  margin-top: 12px;
}

.input-label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;

  color: $secondary-text-color;

  cursor: pointer;
}

.modal-input {
  height: 40px;
  padding: 11px 12px 11px 42px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color $transition-time $transition-func;

  &:focus {
    border-color: $accent-color;
  }
}

.modal-icon {
  position: absolute;
  left: 12px;
  bottom: 11px;

  transition: fill $transition-time $transition-func;

  .modal-input:focus + & {
    fill: $accent-color;
  }
}

.modal-textarea {
  height: 120px;
  padding: 12px 16px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;

  transition: border-color $transition-time $transition-func;

  &:focus {
    border-color: $accent-color;
  }

  &::placeholder {
    line-height: 1.14;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
  }
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
  padding-left: 14px;
}

.checkbox-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 15px;

  border: 2px solid $primary-text-color;
  border-radius: 2px;

  transition: border-color $transition-time $transition-func;

  .checkbox-input:checked + & {
    border: 0;
    background-color: $accent-color;
  }

  .checkbox-input:focus + & {
    border-color: $accent-color;
  }
}

.checkbox-icon {
  fill: transparent;

  .checkbox-input:checked + .checkbox-wrapper & {
    fill: $primary-bg-color;
  }
}

.checkbox-text {
  margin-left: 7px;
}

.modal-btn {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.policy-link {
  color: $accent-color;
}
