body {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.03em;

  color: $primary-text-color;
  background-color: $primary-bg-color;
}

textarea {
  resize: none;
}

ul,
h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}
